* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    background: #f1f1f1;
    grid-template-columns: auto 1fr;
}

.rotate-90 {
    transform: rotate(90deg);
}

/* Sidebar Style Start */

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #f8fafd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar-header span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444746;
}

.sidebar .new-button {
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #282c35;
    font-weight: 500;
}

.sidebar .new-button:hover {
    background-color: #edf1fa;
    border: 1px solid #c9d0e6;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar .new-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.new-upload {
    position: absolute;
    background-color: #ffffff;
    padding: 5px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 250px;
    top: 40px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;
}

.new-upload div {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.new-upload div:hover {
    background-color: #f1f1f1;
}

.new-upload div img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.new-upload hr {
    border: 1px solid #e0e0e0;
    margin: 5px 0px;
}

.bg-blur {
    position: fixed;
    background-color: #000000;
    height: 100dvh;
    width: 100dvw;
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
}

/* More Options Start */

.more-options {
    position: absolute;
    background-color: #ffffff;
    padding: 2px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;
    width: 150px;
    transform: translateX(-50%);
}

.more-options div {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.more-options div:hover {
    background-color: #f1f1f1;
}

.more-options div img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.more-options hr {
    border: 1px solid #e0e0e0;
    margin: 2px 0px;
}

/* More Options End */


/* Create New Folder Start */
.create-new-folder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    width: 400px;
}

.create-new-folder span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #444746;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
}

.create-new-folder input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: #444746;
    margin-bottom: 20px;
}

.create-new-folder div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.create-new-folder button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    color: #0b57d0;
    font-weight: 500;
    padding: 10px 20px;
}

.create-new-folder button:hover {
    background-color: #edf1fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Create New Folder End */

/* Remote URL Upload Start */

#single-threaded-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

#single-threaded-div input {
    width: auto;
    margin: 0px;
    margin-left: 10px;
}

#single-threaded-div img {
    height: 16px;
    width: 16px;
}

#single-threaded-div a {
    height: 16px;
    width: 16px;
}

/* Remote URL Upload End */

/* File Uploader Start */

.file-uploader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    width: 500px;
    opacity: 0;
}

.upload-head {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444746;
    margin-bottom: 20px;
    width: 100%;
}

.upload-info {
    font-size: 16px;
    font-weight: 400;
    color: #444746;
    margin-bottom: 5px;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
}

.progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 20px;
    background-color: #007bff;
    width: 0;
    transition: width 0.3s;
}

.file-uploader .btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.file-uploader button {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    color: #0b57d0;
    font-weight: 500;
    padding: 10px 20px;
}

.file-uploader button:hover {
    background-color: #edf1fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* File Uploader End */

.sidebar-menu {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sidebar-menu a {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #444746;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.sidebar-menu .selected-item {
    background-color: #c2e7ff;
}

.sidebar-menu .unselected-item:hover {
    background-color: #cfcfcf;
}

.sidebar-menu a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Sidebar Style End */

/* Main Content Style Start */

.main-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #f8fafd;
}


.main-content .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

#search-form {
    height: 100%;
    width: 100%;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e9eef6;
    border-radius: 20px;
    padding: 10px 20px;
    flex-grow: 1;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
}

.search-bar:focus-within {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.directory {
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.directory table {
    width: 100%;
    border-collapse: collapse;
}

.directory table tr th {
    text-align: start;
    font-size: 0.9rem;
    font-weight: 500;
    color: #444746;
    padding: 10px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.directory table tr td {
    text-align: start;
    font-size: 0.9rem;
    font-weight: 400;
    color: #444746;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}

.directory .body-tr {
    transition: all 0.3s ease;
}

.directory .body-tr:hover {
    background-color: #f1f1f1;
}

.directory .td-align {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.directory .td-align img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.directory .more-btn img {
    width: 14px;
    height: 14px;
    margin: 0px;
}

.directory .more-btn {
    padding: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}



.directory .more-btn:hover {
    background-color: #b9b9b9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Theme Toggle & Dark Mode */
/* Theme Toggle & Dark Mode */


.theme-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    flex-shrink: 0;
}

.theme-toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode .theme-toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Dark Mode Variables/Overrides */
body.dark-mode .container {
    background-color: #121212;
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
    border-right: 1px solid #333;
}

body.dark-mode .sidebar-header span {
    color: #e0e0e0;
}

body.dark-mode .sidebar .new-button {
    background-color: #2d2d2d;
    color: #e0e0e0;
    border: 1px solid #444;
}

body.dark-mode .sidebar .new-button:hover {
    background-color: #383838;
}

body.dark-mode .new-upload {
    background-color: #2d2d2d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode .new-upload div {
    color: #e0e0e0;
}

body.dark-mode .new-upload div:hover {
    background-color: #383838;
}

body.dark-mode .sidebar-menu a {
    color: #bfbfbf;
}

body.dark-mode .sidebar-menu .selected-item {
    background-color: #3a4a5e;
    color: #fff;
}

body.dark-mode .sidebar-menu .unselected-item:hover {
    background-color: #2d2d2d;
}

/* Sidebar Collapsed State */
.container.sidebar-collapsed {
    grid-template-columns: 0px 1fr;
}

.container.sidebar-collapsed .sidebar {
    padding: 0px;
    overflow: hidden;
    width: 0px;
}

body.dark-mode .main-content {
    background-color: #121212;
}

body.dark-mode .search-bar {
    background-color: #2d2d2d;
}

body.dark-mode .search-bar input {
    color: #e0e0e0;
}

body.dark-mode .directory {
    background-color: #1e1e1e;
}

body.dark-mode .directory table tr th {
    color: #aaa;
    border-bottom: 1px solid #333;
}

body.dark-mode .directory table tr td {
    color: #e0e0e0;
    border-bottom: 1px solid #333;
}

body.dark-mode .directory .body-tr:hover {
    background-color: #2d2d2d;
}

body.dark-mode .create-new-folder,
body.dark-mode .file-uploader,
body.dark-mode .more-options,
body.dark-mode #get-password {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .create-new-folder input,
body.dark-mode #auth-pass {
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: #e0e0e0;
}

body.dark-mode .create-new-folder span,
body.dark-mode .upload-head,
body.dark-mode .upload-info {
    color: #e0e0e0;
}

body.dark-mode .more-options div:hover {
    background-color: #383838;
}

body.dark-mode .more-options div {
    color: #e0e0e0;
}

/* Icon Inversion for Dark Mode */
body.dark-mode img {
    filter: invert(0.9);
}

/* Exceptions for images that shouldn't be inverted */
body.dark-mode .sidebar-header img,
/* Logo */
body.dark-mode .directory img[src*="file-icon"],
/* Maybe file icon colors matter? assuming svgs are mono for now */
body.dark-mode .directory img[src*="folder-solid"] {
    filter: none;
}

/* Re-invert folder icon if it is dark? */
body.dark-mode .directory img[src*="folder-solid"] {
    filter: invert(0.7) sepia(1) hue-rotate(180deg);
    /* Attempt to make it bluish or standard folder color if it was black */
}

/* Ideally, we should check what icons look like. Assuming black icons, invert 0.9 makes them white. */
body.dark-mode .directory img[src*="folder-solid-icon.svg"] {
    filter: invert(0.5);
    /* Grey */
}

/* SVG Fill */
body.dark-mode svg {
    fill: #e0e0e0 !important;
}